<div class="footer">
    <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="name">
        &copy;Wanderlust Private Limited
    </div>
    <div class="terms">
        Privacy terms
    </div>
</div>