<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-3">
        <form action="/signup" method="post" class="needs-validation" novalidate>
            <h1>Signup on wanderlust</h1><br/>
            <div>
                <label for="username" class="form-label">Username</label>
                <input type="text" placeholder="enter username" name="username" class="form-control"  required>
                <div class="valid-feedback">username looks good!</div>
            </div>
            <div>
                <label for="email" class="form-label">email</label>
                <input type="text" placeholder="enter email" name="email" class="form-control"  required>
            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                <input type="password" placeholder="enter password" name="password" class="form-control"  required>
                <div class="valid-feedback">password looks good!</div>
            </div><br/>
            <button class="btn btn-success">Signup</button>
        </form>
    </div>
</div>